@import "./colors.scss";

.dashboard-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 9vh;
  margin: 10px 0 20px 0;
}

.search-container {
  margin-left: 40px;
  height: 70%;

  .search-bar {
    display: flex;
    justify-content: space-between;
    width: 27vw;
    min-width: 350px;
    height: 100%;
    margin: auto;
    padding-left: 18px;
    border: none;
    border-radius: 10px;
    background-color: #f2f2f2;
  }

  select {
    border: none;
    background: none;
    font-size: 18px;
    color: $medium-gray;
    margin-right: 15px;
    overflow: visible !important;
    width: 170px;
  }

  select:focus {
    outline: none;
  }

  input {
    font-size: 18px;
    width: 80%;
    border: none;
    background: none;
  }

  input::placeholder {
    color: $medium-gray;
  }

  button {
    margin-right: 10px;

    img {
      width: 25px;
      margin: 10px;
    }
  }
}

@media (max-width: 900px) {
  .search-container {
    display: none;
  }
}

.greeting {
  font-size: 18px;
  margin-right: 40px;
}
