$black-gray: #282828;
$dark-gray: #464646;
$medium-gray: #9b9898;
$light-gray: #eaeaea;
$yellow: #ffdd29;

main {
  margin-left:250px;
}

.content-head-container{
  width:calc(100% - 150px);
  margin-left:75px;
  &.hide{
    display:none;
  }
}
.content-head-folder{
  display:inline-flex;
  align-items:baseline;
}

.folder-edit-img, .folder-delete-img, .folder-update-img{
  width:20px;
  height:20px;
  margin-left:8px;
  margin-top:8px;

  &:hover{
    filter: invert(51%) sepia(17%) saturate(5809%) hue-rotate(2deg) brightness(98%) contrast(95%);
  }
}

h2{
  font-size:30px;
  font-weight:700;
  margin-right:7px;
    input{
    font-size:30px;
    font-weight:700;
    margin-right:7px;
    padding-bottom:7px;
    height:40px;
    }

  }
.content-head-view{
  float:right;
  margin-top:15px;
  

    .view-select-img{
      width:65px;
    }
}

.content-head-notesNum{
  width:100%;
  margin-top:10px;
  #content-note-num{
    float:right;
  }
}

.content-body-container{
  margin-top:40px;
  width:calc(100% - 150px);
  margin-left:75px;
}

.table{
  border-collapse:collapse;
  width:100%;
  margin:0px;
  padding:0px;
  thead{
      th{
        margin-top:5px;
        padding: 10px 10px;
        background: none;
        font-size: 25px;
        vertical-align: middle;
        color: $black-gray;
        font-weight: bold;
        text-align: center;
        border-top:solid 0.7mm $black-gray;
        border-bottom:solid 0.7mm $black-gray;
    }
  }
  tbody{
      td{
        padding: 5px 0px 5px 10px;
        background: none;
        font-size: 18px;
        vertical-align:middle;
        overflow: hidden;
        border-bottom: solid 0.2mm $medium-gray;
        height:55px;
        max-width:200px; // 해상도에 따라 얼마나 차이나는지 확인 필요
    }
  }
  tfoot{
    td{
      height:60px;
      border-bottom: solid 0.4mm $medium-gray;
    }
  }
}

.thead-action{
  width:60px;
}


.add{
  margin-left:20px;
  margin-top:30px;
  font-size:25px;
  height:25px;
  line-height:75%;
  background:none;
  color:$medium-gray;
  font-weight:700;

  &:hover{
    color:$dark-gray;
    font-weight:700;
    cursor:pointer;
  }
}

input{
  border:none;
  border-bottom:0.5mm solid $medium-gray;
  outline:none;
  cursor:default;
  margin:auto;
  height:30px;
  width:calc(100%-20px);

  &:focus{
    border:none;
    border-bottom:0.8mm solid $yellow;
    transition:0.3s;
  }
}


.save, .edit, .delete, .update{
  
  &.hide{
    display:none;
  }
}

.edit-img, .delete-img {
  width:15px;
  margin: 0px 0px 0px 5px;

  &:hover{
    filter: invert(51%) sepia(17%) saturate(5809%) hue-rotate(2deg) brightness(98%) contrast(95%);
  }
}

.update-img, .save-img{
  width:15px;
  margin:0px 0px 0px 5px;

  &:hover{
    filter: invert(51%) sepia(17%) saturate(5809%) hue-rotate(2deg) brightness(98%) contrast(95%);
  }
}

.card-container {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;

  &.hide{
    display:none;
  }
}

.card-content {
  display: flex;
  flex-direction: column;
  width: 22%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.bookmark-section {
  display: flex;
  justify-content: flex-end;
  height: 40px;
}

.bookmark-btn {
  position: relative;
  top: 10px;
  right: 10px;
  z-index: 1;

  img {
    width: 35px;
  }
}

.note-image {
  display: flex;
  overflow: hidden;
  align-items: center;
  background-color: white;
  margin-top: -40px;

  img {
    width: 100%;
  }
}

.note-info {
  padding:15px 0px 15px 0px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  background-color: $light-gray;

  p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 20px 10px 20px;
  }
}

.note-name {
  font-size: 23px;
  font-weight: 700;
}