$black-gray: #282828;
$dark-gray: #464646;
$medium-gray: #9b9898;
$light-gray: #eaeaea;
$yellow: #ffdd29;

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
  height: 60px;
}

.topnav input[type=text] {
  float: left;
  padding: 6px;
  border: none;
  border-radius:5px 0px 0px 5px;
  margin-top: 8px;
  margin-left: 16px;
  font-size: 17px;
  height: 40px;
  width:250px; //list-view input width 설정으로 인해 topnav input width도 별도 설정
}

.topnav .search-container button{
  float: left;
  width: 50px;
  border-radius:0px 5px 5px 0px;
  height: 40px;
  padding: 6px 10px;
  margin-top: 8px;
  margin-left: 0px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;

  &:hover{
    background-color:$yellow;
  }
}


.fa{
  font-size:25px;
  margin:auto;
}

main {
  margin-left:250px;
}

.content-title-container{
  display:flex;
  justify-content:space-between;
  align-items:center;
}
.list-view{

  .list-view-img{
    width:30px;
    height:30px;
  }
}

.card-view{
  margin-right:70px;
  float:right;

  .card-view-img{
    width:30px;
    height:30px;
  }
}

.table{
  width: 90%;
  margin:auto;
  thead{
    th{
      margin:0px;
      padding: 10px 10px;
      background: none;
      font-size: 20px;
      vertical-align: middle;
      color: $black-gray;
      font-weight: bold;
      text-align: center;
      border-top:solid 2px $black-gray;
      border-bottom:solid 2px $black-gray;

    }
    td{
      border:0px;
    }
  }
  tbody{
    tr{
      td{
        border:0px;
        padding: 5px 0px 5px 10px;
        background: none;
        font-size: 14px;
        vertical-align:middle;
        overflow: hidden;
      }
    }
  }
}

.thead-name{
  max-width:100px;
}

.thead-comment{
  max-width:150px;
}

.thead-website{
  max-width:80px;
}

.thead-tag{
  max-width:100px;
}

.table-hide{
  width:40px;
}


.add{
  width:45px;
  font-size:12px;
  border-radius:10px;
  height:25px;
  line-height:75%;
  background:none;
  color:$black-gray;
  border:2px solid $black-gray;

  &:hover{
    background-color:$yellow
  }
}

input{
  border:0;
  border-bottom:1px solid $dark-gray;
  outline:none;
  cursor:default;
  width:95%;
  margin:auto;
  position:relative;

  &:focus{
    border-bottom:2px solid $yellow;
    transition:0.3s;
  }
}

// .add{
//   float: right;
//   background: transparent;
//   border: 1px solid #ffffff;
//   color: #ffffff;
//   font-size: 13px;
//   padding: 0;
//   padding: 3px 5px;
//   cursor: pointer;
  
//   &:hover{
//     background: #ffffff;
//     color: #00adee;
//   }
// }

// .save{
//   background: #32AD60;
//   color: #ffffff;
  
//   &:hover{
//     background: darken(#32AD60, 10%);
//   }
// }

.save, .edit, .delete, .update{
  
  &.hide{
    display:none;
  }
}

.edit-img, .delete-img, {
  width:17px;
  margin:0px 0px 0px 5px;

  &:hover{
    filter:opacity(.5) drop-shadow(0 0 0 red);
  }
}

.update-img, .save-img{
  width:17px;
  margin:0px 0px 0px 5px;

  &:hover{
    filter:opacity(.5) drop-shadow(0 0 0 green);
  }
}

.card{
  width:90%;
  display:inline-flex;
}

.card-item-container{
  height: 200px;
	width: 200px;
  margin:15px 10px 15px 30px;
  box-shadow:5px 5px 10px $medium-gray, -5px -5px 10px $light-gray;
}

.card-body-image{
  height:120px;
}

.card-body-description{
  background-color: $light-gray;
  height:60px;
}