$black-gray: #282828;
$dark-gray: #464646;
$medium-gray: #9b9898;
$light-gray: #eaeaea;
$yellow: #ffdd29;

main {
  margin-left:250px;
}

.content-head-container{
  width:90%;
  margin-left:35px;
}
.content-head-folder{
  display:inline-flex;
  align-items:baseline;
}

.folder-edit-img, .folder-delete-img, .folder-update-img{
  width:20px;
  height:20px;
  margin-left:8px;
  margin-top:8px;

  &:hover{
    filter:opacity(.5) drop-shadow(0 0 0 red);
  }
}

h2{
  font-size:30px;
  font-weight:700;
  margin-right:7px;
}

.content-head-view{
  float:right;
  margin-top:15px;
  

    .view-select-img{
      width:65px;
    }
}

.content-head-notesNum{
  width:100%;
  margin-top:10px;
  #content-note-num{
    float:right;
  }
}

.content-body-container{
  margin-top:40px;
  width:90%;
  margin-left:35px;
}

.table{
  border-collapse:collapse;
  width:100%;
  margin:0px;
  padding:0px;
  thead{
      th{
        margin-top:5px;
        padding: 10px 10px;
        background: none;
        font-size: 20px;
        vertical-align: middle;
        color: $black-gray;
        font-weight: bold;
        text-align: center;
        border-top:solid 0.7mm $black-gray;
        border-bottom:solid 0.7mm $black-gray;
    }
  }
  tbody{
      td{
        padding: 5px 0px 5px 10px;
        background: none;
        font-size: 14px;
        vertical-align:middle;
        overflow: hidden;
        border-bottom: solid 0.2mm $medium-gray;
        height:50px;
        max-width:200px;
    }
  }
  tfoot{
    td{
      height:60px;
      border-bottom: solid 0.4mm $medium-gray;
    }
  }
}

// .thead-name{
//   max-width:100px;
// }

// .thead-comment{
//   max-width:150px;
// }

// .thead-website{
//   max-width:80px;
// }

// .thead-tag{
//   max-width:100px;
// }

.thead-action{
  width:60px;
}


.add{
  margin-left:20px;
  margin-top:30px;
  font-size:20px;
  height:25px;
  line-height:75%;
  background:none;
  color:$medium-gray;
  font-weight:700;

  &:hover{
    color:$dark-gray;
    font-weight:700;
    cursor:pointer;
  }
}

input{
  border:none;
  border-bottom:0.5mm solid $medium-gray;
  outline:none;
  cursor:default;
  margin:auto;
  height:30px;
  width:220px;

  &:focus{
    border:none;
    border-bottom:0.8mm solid $yellow;
    transition:0.3s;
  }
}


.save, .edit, .delete, .update{
  
  &.hide{
    display:none;
  }
}

.edit-img, .delete-img {
  width:15px;
  margin: 0px 0px 0px 5px;

  &:hover{
    filter:opacity(.5) drop-shadow(0 0 0 red);
  }
}

.update-img, .save-img{
  width:15px;
  margin:0px 0px 0px 5px;

  &:hover{
    filter:opacity(.5) drop-shadow(0 0 0 green);
  }
}

.card{
  width:90%;
  display:inline-flex;
}

.card-item-container{
  height: 200px;
	width: 200px;
  margin:15px 10px 15px 30px;
  box-shadow:5px 5px 10px $medium-gray, -5px -5px 10px $light-gray;
}

.card-body-image{
  height:120px;
}

.card-body-description{
  background-color: $light-gray;
  height:60px;
}