@import "./colors.scss";

.sidenav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background-color: $black-gray;
  overflow-x: hidden;
}

.menu-item-logo {
  width: 100%;
  padding: 20px;

  a {
    display: flex;
    justify-content: center;
  }

  img {
    width: 170px;
  }
}

.menu-item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  font-size: 25px;
  transition: 0.2s;

  button {
    font-size: 25px;
  }

  button,
  a {
    margin-left: 20px;
    color: white;
  }
}

.menu-item:hover {
  background-color: $hover-gray;
}

.signout-button {
  position: fixed;
  width: 250px;
  bottom: 65px;
  display: flex;
  justify-content: center;

  a {
    font-size: 18px;
    text-decoration: underline;
    color: white;
  }
}
.extensions-button {
  position: fixed;
  width: 250px;
  bottom: 20px;
  display: flex;
  justify-content: center;

  a {
    font-size: 18px;
    text-decoration: underline;
    color: white;
    cursor:pointer;
  }
}

.dropdown-btn {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    width: 10px;
    transform: rotate(90deg);
    transition: 0.5s;
  }

  & .active {
    transform: rotate(0);
  }
}

.dropdown-container {
  align-items: center;
  width: 100%;
  height: 40px;
  transition: 0.2s;
  background-color: $dark-gray;

  a {
    margin-left: 35px;
    font-size: 18px;
    color: white;
  }
}

.dropdown-container:hover {
  background-color: $hover-gray;
}

.current-page {
  background-color: $yellow !important;

  a {
    color: black !important;
  }

  button {
    color: black !important;

    img {
      filter: brightness(0);
    }
  }
}
