@import "./colors.scss";

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 250px;
  width: calc(100% - 250px);
  height: 100%;
}

.title-header {
  margin-bottom: 20px;
  margin-left: 60px;
}

.tag-title-header {
  display: flex;
}

.tag-title {
  display: flex;
  align-items: center;
  height: 45px;

  input {
    border: none;
    font-size: 30px;
    font-weight: 700;
    margin-right: 15px;
    color: black;
    background: none;
    border-bottom: solid;
    border-color: $yellow;
    width: 300px;

    & ::placeholder {
      color: black;
    }
  }

  button {
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 5px;
  }
}

h2 {
  font-size: 30px;
  font-weight: 700;
  margin-right: 15px;
}

.tag-edit-btn {
  background-image: url(../../img/edit.png);
  margin: 0 5px;
}

.tag-delete-btn {
  background-image: url(../../img/delete.png);
  margin: 0 5px 2px 5px;
}

.edit-done-btn {
  background-image: url(../../img/save-update.png);
}

.hide {
  visibility: hidden;
}

.edit-delete-btn {
  &:hover {
    filter: opacity(0.5) drop-shadow(0 0 0 $edit-btn-orange);
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 35px;
}

.card-content {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  margin: 0 25px 40px 25px;
}

.bookmark-section {
  display: flex;
  justify-content: flex-end;
  height: 40px;
}

.bookmark-btn {
  position: relative;
  top: 10px;
  right: 10px;
  z-index: 1;

  img {
    width: 35px;
  }
}

.note-image {
  display: flex;
  overflow: hidden;
  align-items: center;
  height: 260px;
  background-color: white;
  margin-top: -40px;

  img {
    width: 100%;
  }
}

.note-info {
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $light-gray;

  p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 20px 10px 20px;
  }
}

.note-name {
  font-size: 23px;
  font-weight: 700;
}
