.input{
    width: 200px;
    height: 31px;
    background: #FFFFFF;
    border-radius: 7px;
    margin:8px;
    border:0;
    outline:0;
}

.comment{
    width: 200px;
    height: 50px;
    background: #FFFFFF;
    margin:8px;
    border:0;
    outline:0;
    border-radius: 7px;
}

#submit{
    width: 205px;
    height: 38px;
    background: #FFDD29;
    border-radius: 7px;
    margin:8px;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 15px;
    border:0;
    outline:0;
}

#saveFolder select{
    width: 205px;
    height: 37px;
    background: #FFFFFF;
    border-radius: 7px;
    margin: 8px;
    border:0;
    outline:0;
}

.font{
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
}


#header{
    font-family: 'Roboto';
    font-weight: bolder;
    font-size: 14px;
    line-height: 15px;
    color: #FFDD29;
}