.input{
    width: 190px;
    height: 31px;
    background: #9B9898;
    border-radius: 7px;
    margin:8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
}

#submit{
    width: 200px;
    height: 38px;
    background: #FFDD29;
    border-radius: 7px;
    margin:8px;
}

.font{
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
}

.save{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 20px;
}