.input{
    width: 190px;
    height: 31px;
    background: #9B9898;
    border-radius: 7px;
    margin:8px;
}

.comment{
    width: 190px;
    height: 50px;
    background: #9B9898;
    margin:8px;
}

#submit{
    width: 200px;
    height: 38px;
    background: #FFDD29;
    border-radius: 7px;
    margin:8px;
}

#saveFolder select{
    width: 200px;
    height: 37px;
    background: #9B9898;
    border-radius: 7px;
    margin: 8px;
}

.font{
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
}

.save{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

#header{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bolder;
    font-size: 14px;
    line-height: 15px;
    color: #FFFFFF;
}