{% load static %}
{% load sass_tags %}

<!DOCTYPE html>
<html lang="ko">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Coding Notes" />
    <meta property="og:description" content="개발자를 위한 최고의 지식 저장소" />
    <meta property="og:image" content="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700;900&display=swap" />
    <title>Coding Notes</title>
    <link rel="icon" href="{% static 'img/favicon.png' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700;900&display=swap" rel="stylesheet">

    <!-- scss 적용 -->
    <link rel="stylesheet" type="text/css" href="{% sass_src 'appCodingNote/scss/style.scss' %}">
    <link rel="stylesheet" type="text/css" href="{% sass_src 'appCodingNote/scss/index-header.scss' %}">
    {% block style %}{% endblock style %}
    {% block side_style %}{% endblock side_style %}
    <!-- js 적용 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script src="{% static 'appCodingNote/js/base.js' %}"></script>
    <script src="{% static 'appCodingNote/js/index.js' %}"></script>
    {% block js %}{% endblock js %}
    {% block side_js %}{% endblock side_js %}
  </head>

  <body>
    {% if not user.is_authenticated %}
      <header>
        <a href="#">
          <img src="{% static 'img/logo-black.png' %}" alt="Coding Notes Logo">
        </a>
        <div class="header-button-container">
          <button onclick="openTab('signin')">Sign In</button>
          <button onclick="openTab('signup')">Sign Up</button>
        </div>
      </header>
      <div id="signin-section" class="right-container">
        <button class="tab-close" onclick="closeTab('signin')"><img src="{% static 'img/close.png' %}"></button>
        <section>
          <p>Sign In</p>
          <form method="POST" action="{% url 'signin' %}">
            {% csrf_token %}
            <input id="signin-username" name="signin-username" type="text" placeholder="Username" autocomplete="on">
            <input id="signin-password" name="signin-password" type="password" placeholder="Password" autocomplete="on">
            <button class="submit-button" type="submit">Sign In</button>
          </form>
          <div class="tab-button-container">
            <button>Forgot PW</button>
            <button onclick="switchTab('signup')">Sign Up</button>
          </div>
        </section>
      </div>
      <div id="signup-section" class="right-container">
        <button class="tab-close" onclick="closeTab('signup')"><img src="{% static 'img/close.png' %}" alt="close button"></button>
        <section>
          <p>Sign Up</p>
          <form id="signup-form" method="POST" action="{%url 'signup' %}">
            {% csrf_token %}
            <input name="username" type="text" placeholder="Username" autocomplete="on">
            <input name="email" type="text" placeholder="Email" autocomplete="on">
            <input name="password1" type="password" placeholder="Password" autocomplete="on">
            <input name="password2" type="password" placeholder="Check Password" autocomplete="on">
            <div id="signup-error-notice"></div>
            <button class="submit-button" type="submit">Sign Up</button>
          </form>
          <div class="tab-button-container">
            <button onclick="switchTab('signin')">Sign In</button>
          </div>
        </section>
      </div>
      <div id="tab-shadow" class="no-display"></div>
    {% endif %}
    {% block content %}{% endblock %}

  </body>
  <script src="{% static 'appCodingNote/js/signup.js' %}"></script>

</html>
