{% extends 'base.html' %}

{% load static %} 
{% load sass_tags %}
{% block side_style %}
  <link rel="stylesheet" type="text/css" href="{% sass_src 'appCodingNote/scss/sidebar.scss' %}"/>
{% endblock side_style%}
{% block side_js %}
  <script defer src="{% static 'appCodingNote/js/sidebar.js' %}"></script>
{% endblock side_js %}

{% block content %}
  <div id="mySidenav" class="sidenav">
    <div class ="menu-item-logo">
      <a href="/dashboard">
        <img src="{% static 'img/logo-white.png' %}">
      </a>
    </div>
    <div id="dashboard-menu" class="menu-item">
      <a href="/dashboard">Dashboard</a>
    </div>
    <div id="folders-menu" class="menu-item">
      <button class="dropdown-btn" onclick="activateToggle('folder')">
        <p>Folders</p>
        <img id="folder-dropdown-btn" src="{% static 'img/toggle-switch.svg' %}">
      </button>
    </div>
    {% for folder in my_folders %}
      <div class="folder-dropdown dropdown-container" style="display: none;">
        <a href={% url 'appCodingNote:read_folder' folder.id %}>{{ folder.folder_name }}</a>
      </div>
    {% endfor %}
    <div id="tags-menu" class="menu-item">
      <button class="dropdown-btn" onclick="activateToggle('tag')">
        <p>Tags</p>
        <img id="tag-dropdown-btn" src="{% static 'img/toggle-switch.svg' %}">
      </button>
    </div>
    {% for tag in my_tags %}
      <div class="tag-dropdown dropdown-container" style="display: none;">
        <a href={% url 'appCodingNote:read_tag' tag.id %}>{{ tag.tag_name }}</a>
      </div>
    {% endfor %}
    <div id="bookmarks-menu" class="menu-item">
      <a href="{% url 'appCodingNote:read_bookmark' %}"}>Bookmarks</a>
    </div>
    <div class="signout-button">
      <a href="{% url 'signout' %}">Sign Out</a>
    </div>
  </div>
  {% block content_dashboard %}
  {% endblock content_dashboard %}
{% endblock %}
