{% extends 'sidebar.html' %}

{% load static %}
{% load sass_tags %}
{% load folder_cover %}
{% block style %}
  <link rel="stylesheet" type="text/css" href="{% sass_src 'appCodingNote/scss/dashboard-header.scss' %}">
  <link rel="stylesheet" type="text/css" href="{% sass_src 'appCodingNote/scss/dashboard.scss' %}">
{% endblock style %}
{% block js %}
  <script src="{% static 'appCodingNote/js/dashboard.js' %}"></script>
{% endblock js %}

{% block content_dashboard %}
  <main id="main">
    <!-- Search Bar -->
    <div class="dashboard-header">
      <form action="{% url 'appCodingNote:login_search' %}" method="POST" class="search-container">
        <div class="search-bar">
          {% csrf_token %}
          <select name="search-option" class="search-option">
            <option value="name-and-tag">제목 + 태그</option>
            <option value="name">제목</option>
            <option value="tag">태그</option>
          </select>
          <input name="keyword" id="keyword" type="text" placeholder="검색어를 입력하세요">
          <button value="submit" type="submit">
            <img src="{% static 'img/search.png' %}" alt="search icon">
          </button>
        </div>
      </form>
      <div class="greeting">
        <p>{{ user.username }}님, 안녕하세요!</p>
      </div>
    </div>
    <!-- dashboard-header.scss 파일이랑 같이 복붙하기 -->

    <div class="main-folder-content content">
      <div class="main-title">
        <h2>폴더</h2>
        <div class="folder-container">
          {% for folder in my_folders %}
            <div class="notebook">
              <a href={% url 'appCodingNote:read_folder' folder.id %}>
                <img src="{% get_static_prefix %}img/{{folder.id|modulo}}-note.png" alt="note">
              </a>
              <p>{{ folder.folder_name }}</p>
            </div>
          {% endfor %}

          <!-- New Folder -->
          <div class="new-folder-container">
            <button onclick="checkInput()">
              <img src="{% static 'img/add-folder.png' %}" alt="add folder">
            </button>
            <input id="folder-new-input" class ="folder-new-input" type="text" placeholder="새 폴더명" name="folderName"/>
          </div>
        </div>
      </div>
    </div>
    <div class="main-tag-content content">
      <div class ="main-title">
        <h2>태그</h2>
        <div class = "tag-container">
          {% for tag in my_tags %}
            <a class="tag-content" href="{% url 'appCodingNote:read_tag' tag.id %}">
              <p>{{ tag.tag_name }}</p>
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </main>
  
    {% endblock content_dashboard %}
