{% extends 'sidebar.html' %}

{% load static %}
{% load sass_tags %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{% sass_src 'appCodingNote/scss/dashboard-header.scss' %}">
  <link rel="stylesheet" type="text/css" href="{% sass_src 'appCodingNote/scss/dashboard.scss' %}">
{% endblock style %}
{% block js %}
{% endblock js %}
{% block content_dashboard %}
  <main id="main">
    <!-- Search Bar -->
    <div class="dashboard-header">
      <div class="search-container">
        <div class="search-bar">
          {% csrf_token %}
          <select name="search-option" class="search-option">
            <option value="name-and-tag">제목 + 태그</option>
            <option value="name">제목</option>
            <option value="tag">태그</option>
          </select>
          <input id="keyword" type="text" placeholder="검색어를 입력하세요">
          <button onclick="loginSearch()">
            <img src="{% static 'img/search.png' %}" alt="search icon">
          </button>
        </div>
      </div>
      <div class="greeting">
        <p>{{ user.username }}님, 안녕하세요!</p>
      </div>
    </div>
    <!-- dashboard-header.scss 파일이랑 같이 복붙하기 -->

    <div class="main-folder-content content">
      <div class="main-title">
        <h2>폴더</h2>
        <div class="folder-container">
          {% for folder in my_folders %}
            <div class="notebook">
              <a href={% url 'appCodingNote:read_folder' folder.id %}>
                <img src="{% static 'img/blue-note.png' %}" alt="note">
              </a>
              <p>{{ folder.folder_name }}</p>
            </div>
          {% endfor %}

          <!-- New Folder -->
          <form action ="{% url 'appCodingNote:create_folder' %}" method="POST">
            {% csrf_token %}
            <button type="submit">
              <img src="{% static 'img/add-folder.png' %}" alt="add folder">
            </button>
            <input class ="folder-new-input" type="text" placeholder="새 폴더명" name="folderName"/>
          </form>
        </div>
      </div>
    </div>
    <div class="main-tag-content content">
      <div class ="main-title">
        <h2>태그</h2>
        <div class = "tag-container">
          {% for tag in my_tags %}
            <a class="tag-content" href="#">
              <p>{{ tag.tag_name }}</p>
            </a>
          {% endfor %}
          <!-- sample tag -->
          {% comment %} <div class="tag-content">
            <p>샘플 태그</p>
          </div> {% endcomment %}
          <!-- sample tag -->
        </div>
      </div>
    </div>
    <script src="{% static 'appCodingNote/js/search.js' %}"></script>
  </main>
  
    {% endblock content_dashboard %}
