{% extends 'sidebar.html' %} 
{% load static %} 
{% load sass_tags %} 
{% block style %}
<link rel="stylesheet" type="text/css" href="{% sass_src 'appCodingNote/scss/folder.scss' %}"/>
<link rel="stylesheet" type="text/css" href="{% sass_src 'appCodingNote/scss/dashboard-header.scss' %}">
{% endblock style %} 
{% block content_dashboard %}
<main>
  <!-- Search Bar -->
    <div class="dashboard-header">
      <div class="search-container">
        <div class="search-bar">
          {% csrf_token %}
          <input id="keyword" type="text" placeholder="제목, 태그로 검색">
          <button onclick="loginSearch()">
            <img src="{% static 'img/search.png' %}" alt="search icon">
          </button>
        </div>
      </div>
      <div class="greeting">
        <p>{{ user.username }}님, 안녕하세요!</p>
      </div>
    </div>
  <!--본문 head-->
  <div class="content-head-container">
  <!--폴더 이름, 편집, 삭제-->
    <div class="content-head-folder">
      <h2 onmouseover="folderShowButton()" onmouseout="folderHideButton()">{{folder.folder_name}}</h2>
      <button class="edit" id="folder-edit-btn"><img class="folder-edit-img" src="{% static 'img/edit.png' %}"/></button>
      <button class="delete" id="folder-delete-btn"><img class="folder-delete-img" src="{% static 'img/delete.png' %}"/></button>
    </div>
  <!-- 리스트 카드 뷰 선택-->
    <div class="content-head-view">
      <button id ="view-select" class="view-select" onClick="onClickViewButton(event)"><img class="view-select-img" id="list-view" src="{%static 'img/list-view-on.png' %}"/><img class="view-select-img hide" id="card-view" src="{%static 'img/card-view-on.png' %}"/></button>
    </div>
  <!-- 노트 개수 안내-->
    <div class="content-head-notesNum">
      <span id="content-note-num"> {{notes.count}} notes </span>
    </div>
  </div>

  <!--본문 body-->
  <div class="content-body-container">
  <!--리스트 뷰-->
  <table class="table data">
    <thead>
      <tr>
        <th class="thead-name">Name</th>
        <th class="thead-comment">Comment</th>
        <th class="thead-website">Website</th>
        <th class="thead-tag">Tags</th>
        <th class="thead-action">
        </th>
      </tr>
    </thead>
    <tbody id="table-body">
      {% for note in notes%}
      <tr id="each-note-{{note.id}}" onmouseover="showButton({{note.id}})" onmouseout="hideButton({{note.id}})">
        <td id="note-name-{{note.id}}">{{note.note_name}}</td>
        <td id="note-comment-{{note.id}}">{{note.note_comment}}</td>
        <td id="note-link-{{note.id}}">{{note.note_link_title}}</td>
        <td id="note-tag-{{note.id}}">#Tags</td>
        <td id="note-action-{{note.id}}">
        
          <button
            class="edit hide"
            id="{{note.id}}-edit-btn"
            onclick="onClickEditButton({{folder.id}},{{note.id}},'{{note.note_name}}','{{note.note_comment}}','{{note.note_link_title}}')"
          >
            <img class="edit-img" src="{% static 'img/edit.png' %}" />
          </button>
          <button
            class="delete hide"
            id="{{note.id}}-delete-btn"
            onclick="onClickDeleteButton({{folder.id}},{{note.id}})"
          >
            <img class="delete-img" src="{% static 'img/delete.png' %}" />
          </button>
          
        </td>
      </tr>
      {% endfor %}
      </tbody>
      <tfoot>
      <tr id="new-btn-row" onmouseover="#" onmouseout="#">
      <td><span class="add" onclick="onClickAddButton({{folder.id}})">
            + New
          </span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      </tr>
      </tfoot>
  </table>
  </div>

  {% comment %} <div class="card data hide">
    {% for note in notes %}
    <div class="card-item-container">
      <div class="card-header">
        <div class="card-header-bookmark">북마크</div>
      </div>
      <div class="card-body">
        <div class="card-body-image">이미지</div>
        <div class="card-body-description">
          <div class="card-body-noteName">{{note.note_name}}</div>
          <div class="card-body-Tags">#Tags</div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div> {% endcomment %}

  <script src="//code.jquery.com/jquery.min.js"></script>
  <script src="{% static 'appCodingNote/js/folder.js' %}"></script>
  {%endblock%}
</main>
