{% extends 'base.html' %}

{% load static %}
{% load sass_tags %}
{% block style %}
  <link rel="stylesheet" type="text/css" href="{% sass_src 'appCodingNote/scss/index.scss' %}">
{% endblock style %}

{% block content %}
  <div id="main">
    <section class="main-section">
      <div class="title-container">
        <p class="main-title">Hey, developer!</p>
        <p class="sub-title">개발자를 위한 최고의 지식 저장소</p>
      </div>
      <form action="{% url 'appCodingNote:result' %}" method="POST" class="search-container">
        <div class="search-bar">
        {% csrf_token %}
          <select name="search-option" class="search-option">
            <option value="name-and-tag">제목 + 태그</option>
            <option value="name">제목</option>
            <option value="tag">태그</option>
          </select>
          <input name="keyword" type="text" placeholder="제목, 태그로 검색">
          <button value="submit" type="submit">
            <img src="{% static 'img/search.png' %}" alt="search icon">
          </button>
        </div>
      </form>
    </section>
    <section class="sub-image"></section>
    <img class="wave" src="{% static 'img/wave.svg' %}" alt="black wave">
{% endblock content %}
