{% extends 'base.html' %}

{% load static %}
{% load sass_tags %}
{% block style %}
  <link rel="stylesheet" type="text/css" href="{% sass_src 'appCodingNote/scss/index-search.scss' %}">
  <link rel="stylesheet" type="text/css" href="{% sass_src 'appCodingNote/scss/folder.scss' %}"/>
  <link rel="stylesheet" type="text/css" href="{% sass_src 'appCodingNote/scss/dashboard-header.scss' %}">
{% endblock style %}
{% block js %}
{% endblock js %}

{% block content %}
  <div class="search-container">
    <div class="search-bar">
      <input type="text" placeholder="제목, 태그로 검색">
      <button>
        <img src="{% static 'img/search.png' %}" alt="search icon">
      </button>
    </div>
  </div>

  {% for note in notes %}
    <div class="card-item-container">
      <div class="card-header">
        <div class="card-header-bookmark">북마크</div>
      </div>
      <div class="card-body">
        <div class="card-body-image">이미지</div>
        <div class="card-body-description">
          <div class="card-body-noteName">{{note.note_name}}</div>
          <div class="card-body-Tags">#Tags</div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock content %}
