{% extends 'base.html' %}

{% load static %}
{% load sass_tags %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{% sass_src 'appCodingNote/scss/index-search.scss' %}">
{% endblock style %}

{% block content %}
  <main id="main">
    {% if notes %}
      <div id="card-container" class="card-container">
        {% for note in notes %}
          <section class="card-content">
            <div class="bookmark-section no-visibility"></div>
            <a class="note-image" href={{ note.note_link }} target="_blank">
              <img src={{ note.note_link_image }} alt="note image">
            </a>
            <div class="note-info">
              <p class="note-name">{{ note.note_name }}</p>
              <p class="note-comment">{{ note.note_comment }}</p>
              <div class="note-tag">
                {% for tag in note.tags.all %}
                  <span class="tag-style">{{ tag.tag_name }}</span>
                {% endfor %}
              </div>
            </div>
          </section>
        {% endfor %}
      </div>
    {% else %}
      <p class="no-result">
        검색 결과가 없습니다.
      </p>
    {% endif %}
  </main>
{% endblock %}
