{% extends 'base.html' %}

{% load static %}
{% load sass_tags %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{% sass_src 'appCodingNote/scss/index-search.scss' %}">
{% endblock style %}

{% block content %}
  <main id="main">
    <form action="{% url 'appCodingNote:result' %}" method="POST" class="login-search-container">
      <div class="search-bar">
        {% csrf_token %}
        <select name="search-option" class="search-option">
          <option value="name-and-tag">제목 + 태그</option>
          <option value="name">제목</option>
          <option value="tag">태그</option>
        </select>
        <input name="keyword" id="keyword" type="text" placeholder="검색어를 입력하세요">
        <button value="submit" type="submit">
          <img src="{% static 'img/search.png' %}" alt="search icon">
        </button>
      </div>
    </form>
    {% if notes %}
      <div id="card-container" class="card-container">
        {% for note in notes %}
          <section class="card-content">
            <div class="bookmark-section no-visibility"></div>
            <a class="note-image" href={{ note.note_link }} target="_blank">
              <img src={{ note.note_link_image }} alt="note image">
            </a>
            <div class="note-info">
              <p class="note-name">{{ note.note_name }}</p>
              <p class="note-comment">{{ note.note_comment }}</p>
              <div class="note-tag">
                {% for tag in note.tags.all %}
                  <span class="tag-style">{{ tag.tag_name }}</span>
                {% endfor %}
              </div>
            </div>
          </section>
        {% endfor %}
      </div>
    {% else %}
      <p class="no-result">
        검색 결과가 없습니다.
      </p>
    {% endif %}
  </main>
{% endblock %}
