{% extends 'sidebar.html' %}

{% load static %}
{% load sass_tags %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{% sass_src 'appCodingNote/scss/tag.scss' %}">
  <link rel="stylesheet" type="text/css" href="{% sass_src 'appCodingNote/scss/dashboard-header.scss' %}">
{% endblock style %}
{% block js %}
  <script type="text/javascript" src="{% static 'appCodingNote/js/tag.js' %}">
{% endblock js %}

{% block content_dashboard %}
  <main id="main">
    <!-- Search Bar -->
    <div class="dashboard-header">
      <div class="search-container">
        <div class="search-bar">
          <input type="text" placeholder="제목, 태그로 검색">
          <button>
            <img src="{% static 'img/search.png' %}" alt="search icon">
          </button>
        </div>
      </div>
      <div class="greeting">
        <p>{{ user.username }}님, 안녕하세요!</p>
      </div>
    </div>

    <!-- Tag 불러오기 -->
    <div class="title-header content">
      <div class="tag-title">
        {% comment %} <input id="tag-name-input" value={{ tag_name }} onkeyup="checkSize()" maxlength="10" disabled></input> {% endcomment %}
        <h2>{{ tag_name }}</h2>
        <button class="tag-edit-btn"></button>
        <button class="tag-delete-btn"></button>
      </div>
    </div>
    <div class="card-container content">
      {% for tag in tags %}
        <section class="card-content">
          <div class="note-image">
            <img src={{ tag.note.note_link_image }} alt="note image">
            <p>{{ tag.note.note_link_title }}</p>
          </div>
          <div class="note-info">
            <p class="note-name">{{ tag.note }}</p>
            <p class="note-tag">{{ tag.tag_name }}</p>
          </div>
        </section>
      {% endfor %}

      <!-- New Tag -->
      {% comment %} <form>
        {% csrf_token %}
        <button type="submit">
          <img src="{% static 'img/add-folder.png' %}" alt="add folder">
        </button>
        <input class ="folder-new-input" type="text" placeholder="새 폴더명" name="folderName"/>
      </form> {% endcomment %}
    </div>
  </main>
{% endblock content_dashboard %}
