{% extends 'sidebar.html' %}

{% load static %}
{% load sass_tags %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{% sass_src 'appCodingNote/scss/dashboard.scss' %}">
{% endblock style %}
{% block js %}
{% endblock js %}

{% block content_dashboard %}
  <main id="main">
    <!-- Search Bar -->
    <div class="dashboard-header">
      <div class="search-container">
        <div class="search-bar">
          <input type="text" placeholder="제목, 태그로 검색">
          <button>
            <img src="{% static 'img/search.png' %}" alt="search icon">
          </button>
        </div>
      </div>
      <div class="greeting">
        <p>{{ user.username }}님, 안녕하세요!</p>
      </div>
    </div>

    <!-- Tag 불러오기 -->
    <div class="title-header">
      <div class="tag-title">
        <h2>{{ tag_name }}</h2>
        <button class="tag-edit-btn"></button>
        <button calss="tag-delete-btn"></button>
      </div>
      <div class="folder-container">
        {% for note in notes %}
          <div class="notebook">
            <a href={% url 'appCodingNote:read_folder' folder.id %}>
              <img src="{% static 'img/blue-note.png' %}" alt="note">
            </a>
            <p>{{ folder.folder_name }}</p>
          </div>
        {% endfor %}

        <!-- New Tag -->
        <form action ="{% url 'appCodingNote:create_folder' %}" method="POST">
          {% csrf_token %}
          <button type="submit">
            <img src="{% static 'img/add-folder.png' %}" alt="add folder">
          </button>
          <input class ="folder-new-input" type="text" placeholder="새 폴더명" name="folderName"/>
        </form>
      </div>
    </div>
  </main>
{% endblock content_dashboard %}
